.evolutions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .evolutions {
    flex-direction: column;
  }
  .evolutions .card-top img{
    width: 50%;
  }
}
