.horizontal {
  border: solid 4px #f5f5f5;
}

.card.horizontal .card-image {
  max-width: 40%;
}

.card.horizontal h5 {
  margin: 0 0 6px 0;
  font-size: 1.5rem;
}

.section {
  padding: 0;
}

.chip {
  height: 20px;
  line-height: 20px;
}

.chip img{
  height: 20px;
  width: 20px;
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
